body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: pink;
    color: black;
}

header {
    background-color: black;
    color: pink;
    text-align: center;
    padding: 1em 0;
}
.hidden{
    display="none";
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    Color: pink;
}

h1, h2 {
    color: pink;
}

ul {
    list-style: none;
    padding: 0;
}
a:link {
  color: pink;
}

a:visited {
  color: pink;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: black;
    color: pink;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

